@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HOME_MIRROS</title>
    </head>
    <body>
    <button id="scrollToTopBtn" onclick="scrollToTop()">↑</button>
    <div class="background-image-container">
    </div>
    <section class="section-2">
        <div class="aboutUs">
            <div class="aboutUs-img">
                <img src="/Images/home-aboutus.jpg" width="490" height="430" alt="about us" />
            </div>
            <div class="aboutUs-text">
                <h1>ABOUT US</h1>
                <p>
                    <span class="red-font">MIRROS</span> is a PR, media relations and communications agency providing integrated solutions.
                    <br />
                    <br />
                    We believe in the power of communication to inform and inspire. With over 16 years of experience with local and international organizations and in-depth knowledge of the Lebanese and regional markets, our communication campaigns have a record of positive impact on the social development and cultural scenes.
                </p>
                <button class="normal-button">READ MORE</button>
            </div>
        </div>
    </section>
    <section class="section-3">
        <div>
            <h1>OUR SERVICES</h1>
        </div>

        <div class="services">
            <div class="service-item">
                <div class="image-service">
                    <img src="~/Images/services-1.png" alt="Alternate Text" />
                </div>
                <div class="service-name">
                    <p>Communication Strategy</p>
                </div>
            </div>
            <div class="service-item">
                <div class="image-service">
                    <img src="~/Images/services-4.png" alt="Alternate Text" />
                </div>
                <div class="service-name">
                    <p>Media Relations</p>
                </div>
            </div>
            <div class="service-item">
                <div class="image-service">
                    <img src="~/Images/services-8.png" alt="Alternate Text" />
                </div>
                <div class="service-name">
                    <p>Public Relations</p>
                </div>
            </div>
            <div class="service-item">
                <div class="image-service">
                    <img src="~/Images/services-5.png" alt="Alternate Text" />
                </div>
                <div class="service-name">
                    <p>
                        Digital Communication
                        & Social Media
                    </p>
                </div>
            </div>
            <div class="service-item">
                <div class="image-service">
                    <img src="~/Images/services-2.png" alt="Alternate Text" />
                </div>
                <div class="service-name">
                    <p>
                        Creative Services
                        & Content Development
                    </p>
                </div>
            </div>
            <div class="service-item">
                <div class="image-service">
                    <img src="~/Images/services-3.png" alt="Alternate Text" />
                </div>
                <div class="service-name">
                    <p>Event Management</p>
                </div>
            </div>
            <div class="service-item">
                <div class="image-service">
                    <img src="~/Images/services-7.png" alt="Alternate Text" />
                </div>
                <div class="service-name">
                    <p>Press Release Dissemination</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-4">
        <div>
            <h1>OUR PROJECTS</h1>
        </div>
        <div class="projects-container">
            <div class="project-item">
                <div class="project-img">
                    <img src="~/Images/Photo 148 - Press Conference Lebanese Pavilion 2024.jpg" alt="Project-1" />
                </div>
                <div class="project-discription">
                    <p>
                        Pavilion of Lebanon at the 60th International Art Exhibition – La Biennale
                        di Venezia presents: “A Dance with her Myth” A multimedia installation by
                        Mounira Al Solh / Nada Ghandour Commissioner and curator
                    </p>
                </div>
            </div>
            <div class="project-item">
                <div class="project-img">
                    <img src="~/Images/Photo 147 - AD Leb (1).jpg" alt="Project-1" />
                </div>
                <div class="project-discription">
                    <p>
                        Art Design Lebanon presents Christine Safatly’s "Life Beyond the Self"
                    </p>
                </div>
            </div>
            <div class="project-item">
                <div class="project-img">
                    <img src="~/Images/Photo 146 - DiGen Art (1).jpg" alt="Project-1" />
                </div>
                <div class="project-discription">
                    <p>
                        Introducing DiGen Art: Pioneering Digital Art Gallery Opens in Lebanon
                    </p>
                </div>
            </div>
        </div>
        <div>
            <button class="normal-button button2">READ MORE</button>
        </div>
    </section>
    </body>
</html>
